USE [master]
GO
/****** Object:  Database [OtoGaleriProjesi]    Script Date: 20.11.2022 17:31:41 ******/
CREATE DATABASE [OtoGaleriProjesi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OtoGaleriProjesi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\OtoGaleriProjesi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OtoGaleriProjesi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\OtoGaleriProjesi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OtoGaleriProjesi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OtoGaleriProjesi]
GO
/****** Object:  Table [dbo].[ARACLAR]    Script Date: 20.11.2022 17:31:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARACLAR](
	[Arac_ID] [int] IDENTITY(1,1) NOT NULL,
	[Arac_Marka] [varchar](50) NOT NULL,
	[Arac_Model] [varchar](50) NOT NULL,
	[Arac_Renk] [varchar](50) NOT NULL,
	[Arac_Yil] [varchar](50) NOT NULL,
	[Arac_KM] [varchar](50) NOT NULL,
	[Arac_Kasa] [varchar](50) NOT NULL,
	[Arac_Durumu] [varchar](50) NOT NULL,
	[Arac_Fiyati] [varchar](50) NOT NULL,
	[Arac_Foto] [varchar](150) NOT NULL,
	[Arac_Vites] [varchar](50) NOT NULL,
	[Arac_Yakit] [varchar](50) NOT NULL,
	[Arac_Plaka] [varchar](50) NOT NULL,
	[Arac_SatılıkMi] [bit] NULL,
 CONSTRAINT [PK_ARACLAR] PRIMARY KEY CLUSTERED 
(
	[Arac_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ilceler]    Script Date: 20.11.2022 17:31:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ilceler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ilce] [varchar](30) NULL,
	[sehir] [int] NOT NULL,
 CONSTRAINT [PK_ilceler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[iller]    Script Date: 20.11.2022 17:31:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[iller](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sehir] [varchar](30) NULL,
 CONSTRAINT [PK_iller] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KULLANICI]    Script Date: 20.11.2022 17:31:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KULLANICI](
	[Kul_ID] [int] IDENTITY(1,1) NOT NULL,
	[Kul_Ad_Soyad] [varchar](50) NULL,
	[Kul_Mail] [varchar](50) NULL,
	[Kul_Tel] [varchar](30) NULL,
	[Kul_Sifre] [varchar](30) NULL,
	[Kul_Foto] [varchar](150) NULL,
 CONSTRAINT [PK_KULLANICI] PRIMARY KEY CLUSTERED 
(
	[Kul_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUSTERI]    Script Date: 20.11.2022 17:31:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSTERI](
	[Musteri_ID] [int] IDENTITY(1,1) NOT NULL,
	[Musteri_TC] [varchar](50) NOT NULL,
	[Musteri_Ad_Soyad] [varchar](50) NOT NULL,
	[Musteri_Mail] [varchar](50) NOT NULL,
	[Musteri_Tel] [varchar](50) NOT NULL,
	[Musteri_İl] [int] NOT NULL,
	[Musteri_İlçe] [int] NOT NULL,
	[Musteri_Adres] [varchar](100) NOT NULL,
	[Arac_ID] [int] NOT NULL,
	[Ehliyet] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MUSTERI] PRIMARY KEY CLUSTERED 
(
	[Musteri_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONEL]    Script Date: 20.11.2022 17:31:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONEL](
	[Personel_ID] [int] IDENTITY(1,1) NOT NULL,
	[Personel_TC] [varchar](50) NULL,
	[Personel_Ad_Soyad] [varchar](50) NULL,
	[Personel_Yas] [varchar](50) NULL,
	[Personel_Tel] [varchar](50) NULL,
	[Personel_Mail] [varchar](50) NULL,
	[Sube_ID] [int] NULL,
	[Personel_Foto] [varchar](150) NULL,
 CONSTRAINT [PK_PERSONEL] PRIMARY KEY CLUSTERED 
(
	[Personel_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBE]    Script Date: 20.11.2022 17:31:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBE](
	[Sube_ID] [int] IDENTITY(1,1) NOT NULL,
	[Sube_Ad] [varchar](50) NULL,
	[Sorumlı_Kisi] [varchar](50) NULL,
	[Sube_Tel] [varchar](50) NULL,
	[Sube_Mail] [varchar](50) NULL,
	[Sube_il] [int] NULL,
 CONSTRAINT [PK_SUBE] PRIMARY KEY CLUSTERED 
(
	[Sube_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ARACLAR] ON 

INSERT [dbo].[ARACLAR] ([Arac_ID], [Arac_Marka], [Arac_Model], [Arac_Renk], [Arac_Yil], [Arac_KM], [Arac_Kasa], [Arac_Durumu], [Arac_Fiyati], [Arac_Foto], [Arac_Vites], [Arac_Yakit], [Arac_Plaka], [Arac_SatılıkMi]) VALUES (1, N'Fiat ', N'Egea ', N'beyaz', N'2022', N'belirtilmemiş', N'SEDAN', N'İKİNCİ EL ARAÇ', N'12000', N'C:\Users\HATİCE KÜBRA\Desktop\OtoGaleri3\OtoGaleri\foto\araçlar\1911757.jpg', N'MANUEL VİTES', N'BENZİN', N'34 COP 227', 0)
INSERT [dbo].[ARACLAR] ([Arac_ID], [Arac_Marka], [Arac_Model], [Arac_Renk], [Arac_Yil], [Arac_KM], [Arac_Kasa], [Arac_Durumu], [Arac_Fiyati], [Arac_Foto], [Arac_Vites], [Arac_Yakit], [Arac_Plaka], [Arac_SatılıkMi]) VALUES (4, N'Mercedes - Benz ', N'C 180 BlueEfficiency Fascination ', N'siyah', N'2011', N'282000', N'SEDAN', N'İKİNCİ EL ARAÇ', N'545000', N'C:\Users\HATİCE KÜBRA\Desktop\OtoGaleri3\OtoGaleri\foto\araçlar\indir (2).jpg', N'YARI OTOMATİK VİTES', N'BENZİN', N'20 ss 523', 1)
INSERT [dbo].[ARACLAR] ([Arac_ID], [Arac_Marka], [Arac_Model], [Arac_Renk], [Arac_Yil], [Arac_KM], [Arac_Kasa], [Arac_Durumu], [Arac_Fiyati], [Arac_Foto], [Arac_Vites], [Arac_Yakit], [Arac_Plaka], [Arac_SatılıkMi]) VALUES (7, N'Renault ', N'1.5 dCi Touch ', N'beyaz', N'2017', N'129.700', N'HATCHBACK', N'İKİNCİ EL ARAÇ', N'413500', N'C:\Users\HATİCE KÜBRA\Desktop\OtoGaleri3\OtoGaleri\foto\araçlar\x5_1063545697omv.jpg', N'OTOMATİK VİTES', N'DİZEL', N'40 AAR 202', 1)
SET IDENTITY_INSERT [dbo].[ARACLAR] OFF
GO
SET IDENTITY_INSERT [dbo].[ilceler] ON 

INSERT [dbo].[ilceler] ([id], [ilce], [sehir]) VALUES (1, N'SEYHAN', 1)
INSERT [dbo].[ilceler] ([id], [ilce], [sehir]) VALUES (2, N'CEYHAN', 1)
INSERT [dbo].[ilceler] ([id], [ilce], [sehir]) VALUES (3, N'FEKE', 1)
GO
SET IDENTITY_INSERT [dbo].[ilceler] OFF
GO
SET IDENTITY_INSERT [dbo].[iller] ON 

INSERT [dbo].[iller] ([id], [sehir]) VALUES (1, N'ADANA')
INSERT [dbo].[iller] ([id], [sehir]) VALUES (2, N'ADIYAMAN')
INSERT [dbo].[iller] ([id], [sehir]) VALUES (3, N'AFYON')
SET IDENTITY_INSERT [dbo].[iller] OFF
GO
SET IDENTITY_INSERT [dbo].[KULLANICI] ON 

INSERT [dbo].[KULLANICI] ([Kul_ID], [Kul_Ad_Soyad], [Kul_Mail], [Kul_Tel], [Kul_Sifre], [Kul_Foto]) VALUES (1, N'nofa bakır', N'nofabakir@gmail.com', N'(531) 311-2604', N'1453', N'C:\Users\muruv\Downloads\indir (2).jpg')
SET IDENTITY_INSERT [dbo].[KULLANICI] OFF
GO
SET IDENTITY_INSERT [dbo].[MUSTERI] ON 

INSERT [dbo].[MUSTERI] ([Musteri_ID], [Musteri_TC], [Musteri_Ad_Soyad], [Musteri_Mail], [Musteri_Tel], [Musteri_İl], [Musteri_İlçe], [Musteri_Adres], [Arac_ID], [Ehliyet]) VALUES (3, N'11768822612', N'hatice', N'fghxjg@gmail.com', N'(531) 311-2604', 1, 2, N'namik', 1, N'C 180 BlueEfficiency Fascination ')
INSERT [dbo].[MUSTERI] ([Musteri_ID], [Musteri_TC], [Musteri_Ad_Soyad], [Musteri_Mail], [Musteri_Tel], [Musteri_İl], [Musteri_İlçe], [Musteri_Adres], [Arac_ID], [Ehliyet]) VALUES (7, N'11768822612', N'bahar', N'fghcjhk@gmail.com', N'(531) 311-2604', 1, 2, N'namik', 1, N'Egea ')
INSERT [dbo].[MUSTERI] ([Musteri_ID], [Musteri_TC], [Musteri_Ad_Soyad], [Musteri_Mail], [Musteri_Tel], [Musteri_İl], [Musteri_İlçe], [Musteri_Adres], [Arac_ID], [Ehliyet]) VALUES (8, N'12457893623', N'seyhan', N'gkfd', N'(531) 522-1450', 2, 2, N'gdfg', 1, N'VAR')
SET IDENTITY_INSERT [dbo].[MUSTERI] OFF
GO
SET IDENTITY_INSERT [dbo].[PERSONEL] ON 

INSERT [dbo].[PERSONEL] ([Personel_ID], [Personel_TC], [Personel_Ad_Soyad], [Personel_Yas], [Personel_Tel], [Personel_Mail], [Sube_ID], [Personel_Foto]) VALUES (3, N'11768822612', N'leyla', N'25', N'(531) 311-2604', N'dlgkdfg', 1, N'C:\Users\HATİCE KÜBRA\Desktop\OtoGaleri3\OtoGaleri\foto\personel\p10.jpg')
INSERT [dbo].[PERSONEL] ([Personel_ID], [Personel_TC], [Personel_Ad_Soyad], [Personel_Yas], [Personel_Tel], [Personel_Mail], [Sube_ID], [Personel_Foto]) VALUES (4, N'11768822612', N'pisi', N'25', N'(531) 311-2604', N'dlgkdfg', 1, N'C:\Users\HATİCE KÜBRA\Desktop\OtoGaleri3\OtoGaleri\foto\personel\p9.jpg')
INSERT [dbo].[PERSONEL] ([Personel_ID], [Personel_TC], [Personel_Ad_Soyad], [Personel_Yas], [Personel_Tel], [Personel_Mail], [Sube_ID], [Personel_Foto]) VALUES (8, N'11768822612', N'polat', N'25', N'(531) 311-2604', N'dlgkdfg', 1, N'C:\Users\HATİCE KÜBRA\Desktop\OtoGaleri3\OtoGaleri\foto\personel\p6.jpg')
SET IDENTITY_INSERT [dbo].[PERSONEL] OFF
GO
SET IDENTITY_INSERT [dbo].[SUBE] ON 

INSERT [dbo].[SUBE] ([Sube_ID], [Sube_Ad], [Sorumlı_Kisi], [Sube_Tel], [Sube_Mail], [Sube_il]) VALUES (1, N'Oto Kardeşler', N'Jon Snow', N'5312548521', N'info@otokardesler.com', 1)
INSERT [dbo].[SUBE] ([Sube_ID], [Sube_Ad], [Sorumlı_Kisi], [Sube_Tel], [Sube_Mail], [Sube_il]) VALUES (2, N'SmartPro Oto Galeri', N'Abdullah Seçkin', N'(531) 484-6621', N'apolex78@gmail.com', 73)

SET IDENTITY_INSERT [dbo].[SUBE] OFF
GO
ALTER TABLE [dbo].[ilceler]  WITH CHECK ADD  CONSTRAINT [FK_ilceler_iller1] FOREIGN KEY([sehir])
REFERENCES [dbo].[iller] ([id])
GO
ALTER TABLE [dbo].[ilceler] CHECK CONSTRAINT [FK_ilceler_iller1]
GO
ALTER TABLE [dbo].[MUSTERI]  WITH CHECK ADD  CONSTRAINT [FK_MUSTERI_ARACLAR] FOREIGN KEY([Arac_ID])
REFERENCES [dbo].[ARACLAR] ([Arac_ID])
GO
ALTER TABLE [dbo].[MUSTERI] CHECK CONSTRAINT [FK_MUSTERI_ARACLAR]
GO
ALTER TABLE [dbo].[MUSTERI]  WITH CHECK ADD  CONSTRAINT [FK_MUSTERI_ilceler] FOREIGN KEY([Musteri_İlçe])
REFERENCES [dbo].[ilceler] ([id])
GO
ALTER TABLE [dbo].[MUSTERI] CHECK CONSTRAINT [FK_MUSTERI_ilceler]
GO
ALTER TABLE [dbo].[MUSTERI]  WITH CHECK ADD  CONSTRAINT [FK_MUSTERI_iller] FOREIGN KEY([Musteri_İl])
REFERENCES [dbo].[iller] ([id])
GO
ALTER TABLE [dbo].[MUSTERI] CHECK CONSTRAINT [FK_MUSTERI_iller]
GO
ALTER TABLE [dbo].[PERSONEL]  WITH CHECK ADD  CONSTRAINT [FK_PERSONEL_SUBE] FOREIGN KEY([Sube_ID])
REFERENCES [dbo].[SUBE] ([Sube_ID])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[PERSONEL] CHECK CONSTRAINT [FK_PERSONEL_SUBE]
GO
ALTER TABLE [dbo].[SUBE]  WITH CHECK ADD  CONSTRAINT [FK_SUBE_iller] FOREIGN KEY([Sube_il])
REFERENCES [dbo].[iller] ([id])
GO
ALTER TABLE [dbo].[SUBE] CHECK CONSTRAINT [FK_SUBE_iller]
GO
USE [master]
GO
